# phpstorm project files
.idea

# vscode project files
.vscode
# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# Mac DS_Store Files
.DS_Store

# env
.env
/*.env
nodes/__pycache__/

# test
test.png